/* Card Section */
.card-section {
    display: flex;
    justify-content: center;
    padding: 40px 20px;
    background-color: #f0f8ff;
}

.card-container {
    display: flex;
    flex-direction: column;
    gap: 80px; /* Add large space between cards */
}

.card {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 38px;
    transition: transform 0.3s ease;
    gap: 20px;
    max-width: 783px; /* Max width for the card */
}

.card-left .card-image {
    order: 1;
}

.card-left .card-content {
    order: 2;
}

.card-right .card-image {
    order: 2;
}

.card-right .card-content {
    order: 1;
}

.card-image img {
    width: 720px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.card2-image img {
    width: 250px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}


.card-content h3 {
    font-size: 24px;
    color: #0077b6;
    margin-bottom: 15px;
}

.card-content p {
    font-size: 16px;
    color: #555;
}

/* Hover Effect */
.card:hover {
    transform: scale(1.05);
}

/* Responsive Design */
/* For smaller screens (mobile) */
@media (max-width: 767px) {
    .card {
        flex-direction: column;
        max-width: 100%;
        text-align: center;
    }

    .card-image {
        margin-bottom: 15px;
    }

    .card-container {
        gap: 40px; /* Reduce space between cards on smaller screens */
    }
}
