/* Hero Section */
.hero {
    position: relative;
    display: flex;
    color: #C1E8FF;
    width: 100%;
    height: 100vh;
    margin-top: 60px;
    align-items: flex-end;
}

.image-background img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.hero-content {
    z-index: 1;
    text-align: center;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

/* Hero Text */
.hero h1 {
    margin-left: 30px;
    font-size: 50px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero p {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  margin-bottom: 50px;
margin-left: 30px;
}

/* Icon Links Section */
.icon-links {
    display: flex;
    justify-content: center;
    gap: 125px;
    padding: 20px;
    flex-wrap: wrap;
}

.icon-link {
    text-decoration: none;
    color: #333;
    text-align: center;
    transition: color 0.3s ease;
}

.icon-link:hover {
    color: #0077b6;
    transform: scale(1.15);
}

.icon-img {
    width: 60px;
    height: 60px;
    display: block;
    margin: 8px;
}

/* Responsive Design */
  /*سيب الشغل و ارجع على التلفون*/


/* Design for smaller screens (mobile) */
@media (max-width: 767px) {
    /* Hero Section */
    .hero {
        height: 25vh; /* Reduce hero section height on mobile */
        margin-top: 65px;
    }

    .hero h1 {
        font-size: 28px; /* Reduce font size for smaller screens */
    }

    .hero p {
        font-size: 16px;
    }

    .icon-links {
        gap: 20px; /* Reduce gap between icons on smaller screens */
        padding: 10px;
    }

    .icon-img {
        width: 50px; /* Reduce icon size */
        height: 50px;
    }
}


